body {
    margin: 0 200px;
    padding: 10px;
   
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;
}

.square {
    width: 20px;
    height: 20px;
}
.snake {
    background-color: green;
}

.apple {
    background-color: blue;
}

button {
    padding: 10px 25px;
    background-color: peru;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background: paleturquoise;
}
